<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532064595294-vlovcs6j3gd1pc9bbct2pgenjaqcq4th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532064595294-vlovcs6j3gd1pc9bbct2pgenjaqcq4th</string>
	<key>API_KEY</key>
	<string>AIzaSyBcnO31pbvP0cwq88bD4Wfuv97CegHi0uw</string>
	<key>GCM_SENDER_ID</key>
	<string>532064595294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todah.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todah-65706</string>
	<key>STORAGE_BUCKET</key>
	<string>todah-65706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532064595294:ios:85d4e5113d15376e5633cf</string>
</dict>
</plist>